<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Deerfox Digital provides game and software development and consultancy services.
          We're Calgary-based and Canada-wide.
          We specialize in Unity, Unreal Engine, React, and React Native.</p>
      </div>
      <div class="col-lg-4">
        <h3>How we can help</h3>
        <ul>
          <li>starting up your greenfield projects</li>
          <li>creating a working prototype of your ideas</li>
          <li>boosting your online presence</li>
          <li>freshening up your website</li>
          <li>writing tests for existing projects</li>
        </ul>
        <p>If you have a project in mind, we would love to hear from you!</p>
      </div>
<!--      <div class="col-lg-8 col-lg-offset-2 text-center">-->
<!--        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">-->
<!--          <i class="fa fa-download"></i> Download Theme-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
</section>
