<!-- Contact Section -->
<section id="contact">
  <div class="container" style="height: 80vh; display: flex; flex-direction: column">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Us</h2>
        <hr class="famail-primary">
      </div>
    </div>
    <div style="flex-grow: 1; align-content: center">
      <div class="col-lg-8 col-lg-offset-2 bg-blue" style="justify-self: center">
        <p>contact@deerfox.dev</p>
      </div>
    </div>
    <div style="flex-grow: 2"></div>
  </div>
</section>
